@import "../../variables.scss";

.button {
  background-color: $primary-color;
  font-size: small;
  width: 148px;
  height: 52px;
  margin: 10px;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: $default-color;
  font-size: medium;
  outline: none;
  cursor: pointer;
}
.disabled {
  background-color: $icon-input-color;
}
