@import "../../variables.scss";

.form-container {
  width: 100%;

  .form {
    background-color: $default-color;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 6px 8px 8px 0px rgba(34, 60, 80, 0.34);
    padding: 20px 40px;
    border-color: $primary-color;
  }

  .form-buttons-container {
    display: flex;
  }
}
