@import "../../variables.scss";

.navigation-container {
  width: 100%;

  .navigation-link-container {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
    }

    .navigation-link {
      color: $default-color;
      font-family: $dancing-font;
      text-decoration: none;
      font-size: calc(10px + 2vmin);
    }
  }
}
