@import "../../variables.scss";

.header-container {
  width: 100%;
  background-color: $sadness-color;
  box-shadow: 6px 8px 8px 0px rgba(34, 60, 80, 0.34);
  margin: 0px 0px 10px 0px;
  display: flex;
  align-items: center;

  .header-icon-button {
    cursor: pointer;
    background-color: $sadness-color;
    border: none;

    .header-icon {
      display: block;
      color: $default-color;
      font-size: calc(10px + 2vmin);
      margin: 0px 20px 0px 0px;
    }
    .header-icon:hover {
      color: $primary-color;
    }
  }
}
