.sign-up-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-up-form {
    background-color: "#ffff";
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 6px 8px 8px 0px rgba(34, 60, 80, 0.34);
    padding: 20px 40px;
    border-color: #0285e4;
  }

  .sign-up-popup {
    height: 300px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    box-shadow: 6px 8px 8px 0px rgba(34, 60, 80, 0.34);
  }
}
